<div class="bg office">
    <div class="orange-gradient pad-all-50">
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="row">
            <div class="col-12 col-md-8 offset-md-1 col-lg-6 offset-lg-2">
                <h1 class="varela orange-text white inline pad-all">
                    This is Outreach
                </h1>
                <div class="empty-spacer"></div>
                <p class="white bigger inline pad-all">
                    The best way to keep track of outreach to mentors, companies, recruiters, and customers alike.
                </p>
            </div>
        </div>
        <div class="space"></div>
    </div>
</div>

<div class="space gray"></div>

<div class="curve h-40 gray curve-absolute"></div>

<div class="space"></div>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="card marg-top-50 shade-hover card-rect">
                        <div class="card-block">
                            <h4>
                                Intuitive.
                            </h4>
                            <p>
                                Keep track of everyone you've reached out to. Simply input thier information and update with each new outreach and response. We'll take care of the rest.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card marg-top-50 shade-hover card-rect">
                        <div class="card-block">
                            <h4>
                                Intelligent.
                            </h4>
                            <p>
                                Data visualization and smart organization and sorting of contacts allows you to optimize your outreach. Reach out to the people who matter, better learn what outreach techniques prove the most lucrative.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card marg-top-50 shade-hover card-rect">
                        <div class="card-block">
                            <h4>
                                Effective.
                            </h4>
                            <p>
                                Simple features, direct security: nothing gets in the way of you and your outreach.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="buttons">
        <% if current_user %>
            <%= link_to contacts_path do %>
                <button class="btn btn-outline-orange">
                    View your contacts
                </button>
            <% end %>
        <% else %>
            <%= link_to new_user_registration_path do %>
                <button class="btn btn-outline-orange">
                    Get started
                </button>
            <% end %>
        <% end %>
    </div>
    <div class="space"></div>
</div>
