/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require rails_bootstrap_forms
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
$orange: #ff6600; //rgb(255,102,0)
$dark-orange: #cc5200; //rgb(204,82,0)
$light-orange: #ffa366; //rgb(255,163,102)
$gray: #404040;

body {
    outline: 0 !important;

    button,
    button:active,
    button:focus {
        outline: 0 !important;
    }
    //Smooth transition styling for all links
    a {
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    //Avoid underlining on links
    a:active,
    a:hover,
    a:link,
    a:visited {
        text-decoration: none;
        outline: 0 !important;
    }
    font-size: 120%;
}

.display-none {
    display: none;
}

#alerts {
    position: absolute;
    top: 80px;
    z-index: 2;
    width: 100%;
    text-align: center;
}

.space {
    display: block;
    width: 100%;
    height: 5vh;
}

.half-space {
    display: block;
    width: 100%;
    height: 2.5vh;
}

.empty-spacer {
    display: block;
    width: 100%;
    height: 0;
}

.no-display {
    display: none;
}

.absolute {
    position: absolute !important;
    z-index: 2 !important;
}

.btn-right,
.float-right {
    float: right;
    vertical-align: top;
}

.animate {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.no-scroll {
    overflow: hidden;
}

.center {
    text-align: center;
    width: 100%;
}

button,
button:active,
button:link,
button:visited {
    outline: 0 !important;
}

.h-40 {
    height: 40vh;
}

.inline {
    display: inline-block;
}

.bigger {
    font-size: 120%;
}

.bg {
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.btn,
.cursor {
    cursor: pointer;
    cursor: hand;
}

.border-bot {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.buttons {
    margin: 0 auto;
    text-align: center;

    button {
        margin: 0.25rem;
    }
}

.buttons-right {
    float: right;
    vertical-align: top;
}

.line {
    width: 100%;
    margin: 2.5vh 0;
    height: 1px;
    background: rgba(0, 0, 0, 0.15);
}

.shade {
    box-shadow: 0 0 1.25vh rgba(0, 0, 0, 0.15);
}

.shade-top {
    box-shadow: 0 -2.5px 1vh rgba(0, 0, 0, 0.15);
}

.shade-hover {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    box-shadow: 0 0 1.25vh rgba(0, 0, 0, 0.15);
}

.shade-hover:hover {
    box-shadow: 0 0 1.25vh rgba(0, 0, 0, 0.3);
}

#error-explanation {
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
}

.pad-all {
    padding: 2.5vh;
}

.pad-all-50 {
    padding: 5vh;
}

.no-pad {
    padding: 0 !important;
}

.no-marg {
    margin: 0 !important;
}

.marg-top-25 {
    margin-top: 2.5vh !important;
}

.marg-top-50 {
    margin-top: 5vh !important;
}

.marg-bot-25 {
    margin-bottom: 2.5vh !important;
}

.marg-bot-0 {
    margin-bottom: 0 !important;
}

.turbolinks-progress-bar {
    background: $orange;
}

a,
a:link,
a:visited {
    color: $orange;

    &:active,
    &:focus,
    &:hover {
        color: $dark-orange;
    }
}

input,
select,
textarea {
    &:active,
    &:focus {
        border-color: $orange !important;
    }
}

.orange-text {
    color: $orange !important;
}

.orange {
    background: $orange;
}

.btn-outline-orange {
    border-color: $orange;
    color: $orange;
    background: transparent;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;

    &:hover {
        background: $orange;
        color: $white;
    }
}

.white-text {
    color: white !important;
}

.white {
    background: white;
}

.gray {
    background: rgba(0, 0, 0, 0.075);
}

.light-gray {
    background: rgba(0, 0, 0, 0.0325);
}

.dark-orange {
    color: $dark-orange;
}

.dark-orange-hover {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;

    &:hover {
        background: $dark-orange;
    }
}

.orange-gradient {
    background: rgba(255, 102, 0, 0.5);
    background: -webkit-linear-gradient(left top, rgba(255, 102, 0, 0.5), rgba(204, 82, 0, 0.5));
    background: -o-linear-gradient(bottom right, rgba(255, 102, 0, 0.5), rgba(204, 82, 0, 0.5));
    background: -moz-linear-gradient(bottom right, rgba(255, 102, 0, 0.5), rgba(204, 82, 0, 0.5));
    background: linear-gradient(to bottom right, rgba(255, 102, 0, 0.5), rgba(230, 90, 0, 0.5));
}

.varela {
    font-family: 'Varela Round', sans-serif;
}

::selection {
    background: $light-orange;
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: $light-orange;
    /* Gecko Browsers */
}

p.date {
    color: $gray;
    font-style: italic;
}

.reach {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    background: rgba(0, 0, 0, 0.075);

    &.response {
        background: rgba(0, 255, 0, 0.075);
    }

    .date,
    .notes {
        margin: 0;
        padding: 1rem 2rem;
        display: inline-block;
    }

    .date {
        background: white;
        border-right: 1px solid rgba(0, 0, 0, 0.15);
    }

    .delete {
        margin: 1rem 2rem;
        color: rgba(0, 0, 0, 0.3);
        transition: all 0.2s ease;
        font-size: 1.75rem;

        &:hover {
            color: rgba(0, 0, 0, 0.5);
        }
    }
}

#foot {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    background: rgba(0, 0, 0, 0.075);
    font-size: 83.3333%;
    color: gray;
    text-align: center;

    a {
        color: gray;
        font-weight: bold;

        &:hover {
            color: $gray;
        }
    }
}

.bg {
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.block {
    display: block;
}

.full-width {
    width: 100%;
}

.office {
    background-image: image-url('office.jpg');
}

.curve {
    border-radius: 0 0 100% 100%;
    width: 100%;
}

.curve-absolute {
    position: absolute;
    left: 0;
    top: inherit;
}

.card.card-rect {
    border-radius: 0;
    border: 0 transparent;
}

.bottom-right {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    padding: 0;
    font-size: 3rem;
    transition: all 0.2s ease;

    &:hover {
        -ms-transform: scale(1.05, 1.05);
        /* IE 9 */
        -webkit-transform: scale(1.05, 1.05);
        /* Safari */
        transform: scale(1.05, 1.05);
    }
}

.form-wrapper {
    min-height: 90vh;
}

.help-block {
    display: inline-block;
    position: relative;
    color: #a94442;
    background: #f2dede;
    border: 2px solid #ebcccc;
    color: #a94442;
    border-radius: 0.25rem;
    padding: 0.25rem;
    margin-top: 0.5rem !important;
    margin-bottom: 1rem !important;
}

.contact-list {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.contact {
    border: 1px 1px 0 1px solid rgba(0, 0, 0, 0.15);
    padding: 1rem;
    width: 100%;
    display: block;
    margin: 0;

    &:hover {
        background: rgba(0, 0, 0, 0.075);
    }

    &.header:hover {
        background: rgba(0, 0, 0, 0);
    }
}

ul.icons {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        display: inline-block;
        padding-right: 0.5rem;
    }

    &.right {
        padding-right: 1rem;
        text-align: right;

        li {
            padding-left: 0.5rem;
            padding-right: 0;
        }
    }
}

.center {
    text-align: center;
}

.absolute-right {
    right: 0;
}

.badge.badge-default {
    background: rgba(0, 0, 0, 0.3);

    &:hover {
        background: rgba(0, 0, 0, 0.5);
    }
}
