<footer id="foot">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 push-md-1">
                <div class="space"></div>
                <h2 class="varela">Outreach</h2>
                <p>Created by
                    <a href="http://cameroncabo.com" target="blank">Cameron Cabo.</a>
                    <br>
                    Cameron Cabo &copy; 2017, all rights reserved.
                    <br>
                    Questions? <a href="mailto:ccabo@wharton.upenn.edu">Send me an email.</a>
                </p>
                <div class="space"></div>
            </div>
        </div>
    </div>
</footer>
